@import  '../../../styles/variables.scss';

.aort-PlaybackBox {
  font-family: $family-elements;
  .wave-container {
    overflow-x: scroll;
  }
  .player-control {
    margin: 0 !important;
    cursor: pointer;

    .level {
      margin-bottom: 0;
      display: flex;
    }
    &.active {
      background: $active-background;
    }
  }
  .circle-button {
    border-radius: 999px;
  }
  .offset-icon {
    margin-left: 3px;
  }
}