.aort-PlaybackBox {
  .wave-container {
    overflow-x: scroll;
  }
  .player-control {
    padding: 1.5rem 0;
  }
  .circle-button {
    border-radius: 999px;
  }
  .offset-icon {
    margin-left: 3px;
  }
}