@import  '../../../styles/variables.scss';

.aort-TrialItem {
  border-bottom: solid 1px;
  padding: 1.5em 0;
  font-family: sans-serif;

  .bars {
    width: 200px;
    .speaking {
      display: inline-block;
      height: 10px;
      background-color: $red;
    }
    .silence {
      display: inline-block;
      height: 10px;
      background-color: $blue;
    }
  }
}