.silence-ratio {
  .bars {
    width: 400px;
  }
  .speaking, .silence {
    display: inline-block;
    height: 10px;
    padding-right: 2px;
    span {
      display: block;
      height: 10px;
    }
  }
  .speaking {
    color: #eb5b43;
    span {
      background-color: #eb5b43;
    }
  }
  .silence {
    &.short {
      color: #92c5de;
      span {
        background-color: #92c5de;
      }
    }
    &.long {
      color: #0571b0;
      span {
        background-color: #0571b0
      }
    }
  }
}