@import  '../../../styles/variables.scss';

.silence-ratio {
  width: 250px;
  .speaking, .silence {
    display: inline-block;
    height: 10px;
    padding-right: 2px;
    span {
      display: block;
      height: 10px;
    }
  }
  .speaking {
    span {
      background-color: $light-red;
    }
  }
  .silence {
    color: $dark-blue;
    &.short {
      span {
        background-color: $light-blue;
      }
    }
    &.long {
      span {
        background-color: $dark-blue;
      }
    }
  }
}