/**
 *
 * customzie bulma variables
 *
 */

// Import the initial variables
@import "~bulma/sass/utilities/initial-variables";

// own initial variables
// $blue: #51aae8;
$red: #ff3333;
$blue: #2B90D9;
$light-red: #FFB7B7;
$light-blue: #7f9fec;
$dark-blue: #2161fa;
$footer-background-color: $white;
// derived variables
$primary: $blue;

// Typography
$family-sans-serif: "Libre Baskerville";
$family-elements: "Montserrat";


// New variables
// $family-primary: $family-serif;
$text: $black;
$content-blockquote-background-color: $white;
$content-blockquote-border-left: 5px solid;
$content-blockquote-padding:  0.5em  0.75em ;
$active-background: $white-ter;
$control-radius: 0;

// Import the rest of Bulma
@import "~bulma";

/**
 * customize react-select
 */
$select-input-border-radius: 0px !default;
$select-item-border-radius: 0px !default;
$select-option-focused-bg: $active-background !default;
$select-option-selected-bg: $active-background !default;
$select-input-border-focus: $primary !default;
$select-input-box-shadow-focus: none;

@import '~react-select/scss/default.scss';
